<h3 style="text-align:center">
    Terms and condition</h3>
<p style="margin: 20px">The Bank will advise from time to time the Internet Software such as Browsers, which are required for using NetBanking. There
    will be no obligation on the Bank to support all the versions of this Internet Software. I agree that I shall be responsible
    for upgrading my software, hardware and the operating system at my cost from time to time so as to be compatible with
    that of the Bank. The Bank shall be at liberty to change, vary or upgrade its software, hardware, operating systems,
    etc., from time to time and shall be under no obligation to support the software, hardware, operating systems used by
    me and that the same shall be my sole responsibility.
    <p>
        <div style="margin:20px">
            <div class="col-md-6 checkbox">
                <input type="checkbox" class="styled term" [checked]=checked (click)="setAgree()" id="agree">
                <label class="fonts" for="agree">Agree</label>
            </div>
            <div class="col-md-6 checkbox">
                <input type="checkbox" class="styled term" [checked]=checked (click)="setDisagree()" id="disagree">
                <label class="fonts" for="disagree">Disgree</label>
            </div>
        </div>