<div class="contact-info" data-aos="fade-up">
  <!-- single or joint -->
  <div class="account-content " id="1">
    <h2>Just for you or with someone else ?</h2>
    <input type="submit" (click)="setSingleOrJoint('single')" class="btn btn-default button button1" id="button1" value="SINGLE"
    />
    <input type="submit" (click)="setSingleOrJoint('joint')" class="btn btn-default button button1" id="button2" value="JOINT"
    />
  </div>
  <!-- /single or joint -->
</div>
  <div id="jointSwitch" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-pop matching-customer-details">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-body">

        <div class="center-content">
          <!--<span class="info-icon successicon"><img src="/assets/images/success.svg" alt=""></span>-->
          <h2 class="card-title page-heading-desktop">Would you wish to fill the joint applicant's details?
          </h2>
        </div>
        <div class="form-btn-wrapper">
          <input type="button" class="btn btn-default button" (click)="setJointType('yes')" data-dismiss="modal" value="YES" autofocus/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default button" (click)="setJointType('no')" data-dismiss="modal" value="NO" />
        </div>
      </div>
    </div>
  </div>
  </div>